<div class="eqLogic-widget eqLogic" style="width: 480px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >

 
   <a class="btn cmd" style="display:inline" data-cmd_id="#start_id#" title="Start" onclick="jeedom.cmd.execute({id: #start_id#});"><i class="fa fa-play" style="margin-top: 3px;margin-right: 3px;"></i></a>
   <a class="btn cmd" style="display:inline" data-cmd_id="#stop_id#" title="Home" onclick="jeedom.cmd.execute({id: #stop_id#});"><i class="fa fa-home" style="margin-top: 3px;margin-right: 3px;"></i></a>


   
   <center class="widget-name"><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span></a></center>
   <div style="position : relative; left : 15px;">
    <span class="pull-left">
        <i class="#icone#" style="font-size: 3.5em;"></i>
    </span>


   <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#lastCom#">#lastDate# #lastTime#</span>
      <br/>    
   <span class="cmd cmd-widget" data-cmd_id="rd" style="display:none;"></span>

      
    <span style="margin-left: 5px;font-size: 1.2em;"class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#status#">Status : <span style="float:left;margin-left: 55px;">#statusCode#</span>  <span style="font-weight:bold;float:left;margin-left: 115px;">#statusDescription#</span></span>
   <span style="float:right;margin-rigt: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#lastCom#">#lastDate# #lastTime#</span> <br:>

    <span style="margin-left: 5px;font-size: 1.2em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#error#">Error  : <span style="float:left;margin-left: 55px;">#errorCode#  </span><span style="font-weight:bold;color:#errorColor#;float:left;margin-left: 115px;">#errorDescription#</span></span><br/>
    <span style="margin-left: 5px;font-size: 1.2em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#batteryLevel#">Battery  : <span style="float:left;margin-left: 55px;">#batteryLevel# %</span></span><br/>

<br/> 


</div><br/>

<div style="margin-top: -15px;">
    <center>#daySetup#</center>
</div>
<script>
   $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
    jeedom.cmd.execute({id: 'refreshValue'});

 
   }); 
</script>
</div>
