<div class="eqLogic-widget eqLogic" style="width: 480px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
   

 <center class="widget-name display:inline"><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# #object_name#</a>
   <a class="btn cmd" data-cmd_id="#start_id#" title="Start" onclick="jeedom.cmd.execute({id: #start_id#});"><i class="fa fa-play pull-right" ></i></a>
   <a class="btn cmd" data-cmd_id="#stop_id#" title="Home" onclick="jeedom.cmd.execute({id: #stop_id#});"><i class="fa fa-home pull-right" ></i></a>
</center>
 
<br/>      
    <span style="float:left;margin-left: 5px;font-size: 1.2em;"class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#status#">
       Status : <span style="margin-left: 35px;">#statusCode#</span>  
       <span style="font-weight:bold;margin-left: 75px;">#statusDescription#</span></span>
   <span style="float:right;margin-rigt: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#lastCom#">#lastDate# #lastTime#</span> <br/>

    <span style="float:left;margin-left: 5px;font-size: 1.2em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#error#">
       Error  : <span style="margin-left: 35px;">#errorCode#  
       </span><span style="font-weight:bold;color:#errorColor#;margin-left: 75px;">#errorDescription#</span></span><br/>
   <br/> 
   <span style="margin-left: 5px;font-size: 1.2em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#batteryLevel#">
      Battery  : <span style="margin-left: 35px;">#batteryLevel# %</span></span><br/>

<br/> 


</div><br/>

    <center style="display:none">#daySetup#</center>

<script>
   $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
    jeedom.cmd.execute({id: 'refreshValue'});

 
   }); 
</script>
</div>
