<div id="plugin_container" class=" eqLogic-widget eqLogic allowResize #history#" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-category="" data-eqLogic_id="#id#" data-version="#version#" >
  <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#</strong></a>
  <span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span>
		
		<span id="iconUPS_line#id#" style="float: left;width:25px"></span><span id="iconSSH#id#" style="float: right;width:25px"></span>
		
		<script>
			if ('#statusCode#' == '1') {
				if ('#statusCode#' == '1'){
				$('#iconSSH#id#').append('<i title="Connexion SSH OK" class="techno techno-tv tooltips" style="font-size : 1.1em;color: #00FF00;" ></i>');
			} 
			} 
			if ('#cnx_ssh#' == 'OK'){
			if (('#ssh_op#' == '0')||('#ssh_op#' == '')){
				$('#iconSSH#id#').append('<i title="Sans connexion SSH" class="fa fa-sitemap tooltips" style="font-size : 1.1em;color: #00FF00;" ></i>');
			} 
			}
			if ('#cnx_ssh#' == 'KO') {
				$('#iconSSH#id#').append('<i title="Connexion SSH KO" class="fa fa-times tooltips" style="font-size : 1.1em;color: #FF0000;"></i>');
			}
		
			if (('#ups_line#' == 'OL CHRG')||('#ups_line#' == 'OL')) {
				
				$('#iconUPS_line#id#').append('<i title="Sur secteur" class="techno techno-plug2 tooltips" style="font-size : 1.1em;color: #00FF00;" ></i>');
			} 
			else if ('#ups_line#' == 'OB DISCHRG') {
				
				$('#iconUPS_line#id#').append('<i title="Sur batterie " class="techno techno-low2 tooltips" style="font-size : 1.1em;color: #FEB95E;" ></i>');
			} 
			
			else {
			$('#iconUPS_line#id#').append('<i title="Nut: pas de reponses" class="fa fa-times tooltips" style="font-size : 1.1em;color: #FF0000;" ></i>');
			}
			
		</script>        
</center>

	

	<div class="tooltips" data-cmd_id="#Modelid#" style="margin-left:5px;display: #Model_display#;">
			<span title="UPS Model" style="min-width:15px"></span>
			<span>Marque: #Model#</span>
	</div>
	<div class="tooltips" data-cmd_id="#ups_lineid#" style="margin-left:5px;display: #ups_line_display#;">
			<span title="UPS MODE" style="width:15px;">Mode:</span>
			<span id="ups_line#id#"></span><span></span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#ups_line#id#').append('<span data-cmd_id="#ups_lineid#" class="history cursor">#ups_line#</span>');
		}
    </script>
	<div class="tooltips" data-cmd_id="#input_voltid#" style="margin-left:5px;display: #input_volt_display#;">
			<span title="Tension en entrée" style="width:15px;">Tension en entrée:</span>
			<span id="input_volt#id#"></span><span> V</span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#input_volt#id#').append('<span data-cmd_id="#input_voltid#" class="history cursor">#input_volt#</span>');
		}
    </script>
	
	<div class="tooltips" data-cmd_id="#input_freqid#" style="margin-left:5px;display: #input_freq_display#;">
			<span title="Fréquence d'entrée (input_freq)" style="width:15px;">Fréquence d'entrée: </span>
			<span id="input_freq#id#"></span><span> Hz</span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#input_freq#id#').append('<span data-cmd_id="#input_freqid#"class="history cursor">#input_freq#</span>');
		}
    </script>
	<div class="tooltips" data-cmd_id="#output_voltid#" style="margin-left:5px;display: #output_volt_display#;">
			<span title="Tension de sortie (output_volt)" style="min-width:15px;">Tension de sortie: </span>
			<span id="output_volt#id#"></span><span> V</span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#output_volt#id#').append('<span data-cmd_id="#output_voltid#" class="history cursor">#output_volt#</span>');
		}
    </script>
	<div class="tooltips"  data-cmd_id="#output_freqid#" style="margin-left:5px;display: #output_freq_display#;">
			<span title="Fréquence de sortie (output_freq)" style="width:15px;">Fréquence de sortie: </span>
			<span id="output_freq#id#"></span><span> Hz</span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#output_freq#id#').append('<span data-cmd_id="#output_freqid#" class="history cursor">#output_freq#</span>');
		}
    </script>
	
	<div class="tooltips"  data-cmd_id="#output_powerid#" style="margin-left:5px;display: #output_power_display#;">
			<span title="Puissance de sortie (output_power)" style="width:15px;">Puissance de sortie: </span>
			<span id="output_power#id#"></span><span> W</span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#output_power#id#').append('<span data-cmd_id="#output_powerid#" class="history cursor">#output_power#</span>');
		}
    </script>
	<div class="tooltips"  data-cmd_id="#batt_chargeid#" style="margin-left:5px;display: #batt_charge_display#;">
			<span title="Niveau de charge batterie (batt_charge)" style="width:15px;">Niveau de charge batterie: </span>
			<span id="batt_charge#id#"></span><span> %</span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#batt_charge#id#').append('<span data-cmd_id="#batt_chargeid#" class="history cursor">#batt_charge#</span>');
		}
    </script>
	<div class="tooltips"  data-cmd_id="#batt_voltid#" style="margin-left:5px;display: #batt_volt_display#;">
			<span title="Tension de la batterie (batt_volt)" style="width:15px;">Tension de la batterie: </span>
			<span id="batt_volt#id#"></span><span> V</span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#batt_volt#id#').append('<span data-cmd_id="#batt_voltid#" class="history cursor">#batt_volt#</span>');
		}
    </script>
	<div class="tooltips"  data-cmd_id="#ups_loadid#" style="margin-left:5px;display: #ups_load_display#;">
			<span title="Charge Onduleur (ups_load)" style="width:15px;">Charge de l'onduleur: </span>
			<span id="ups_load#id#"></span><span> %</span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#ups_load#id#').append('<span data-cmd_id="#ups_loadid#" class="history cursor">#ups_load#</span>');
		}
    </script>
	<div class="tooltips"  data-cmd_id="#batt_runtimeid#" style="margin-left:5px;display: #batt_runtime_display#;">
			<span title="Temps restant sur batterie (batt_runtime)" style="width:15px;">Temps restant sur batterie: </span>
			<span id="batt_runtime#id#"></span><span> s</span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#batt_runtime#id#').append('<span data-cmd_id="#batt_runtimeid#" class="history cursor">#batt_runtime#</span>');
		}
    </script>
	<div class="tooltips"  data-cmd_id="#timer_shutdownid#" style="margin-left:5px;display: #timer_shutdown_display#;">
			<span title="Temps restant avant arrêt (timer_shutdown)" style="width:15px;">Temps restant avant arrêt: </span>
			<span id="timer_shutdown#id#"></span><span> s</span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#timer_shutdown#id#').append('<span data-cmd_id="#timer_shutdownid#" class="history cursor">#timer_shutdown#</span>');
		}
    </script>
</div>
