<div style="display: inline-block;font-size: 0.75em;margin-right : 4px;margin-top:4px" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#daySetup#">
    <center>#day#<br/>
   <a class="btn cmd" style="display:inline;font-size:1.2em;padding:1px" data-cmd_id="#off_##daynum##_id#" title="Off" onclick="jeedom.cmd.execute({id: #off_##daynum##_id#});"><i class="fa fa-times"></i></a>
    <a class="btn cmd" style="display:inline;font-size:1.2em;padding:1px" data-cmd_id="#on_daynum_id#" title="On" onclick="jeedom.cmd.execute({id: #on_daynum_id#});"><i class="fa fa-check"></i></a>
 
    </center>

    <center class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#startTime#" style="font-size:0.8em;" >#startTime# | #endTime#<br/>
  
    #cutEdge#
    </center>
</div>
