<div class="eqLogic-widget eqLogic allowResize" style="width: #width#;height : #height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
   

 <center class="widget-name display:inline"><a href="#eqLink#" style="font-weight:bold;font-size : 1.1em;#hideEqLogicName#">#name_display# #object_name#</a>
   <a class="btn cmd" data-cmd_id="#start_id#" style= "cursor: pointer;position : absolute;right : 2px; width : 5px" title="Start" onclick="jeedom.cmd.execute({id: #start_id#});"><i class="fa fa-play pull-right" ></i></a>
   <a class="btn cmd" data-cmd_id="#stop_id#" style= "cursor: pointer;position : absolute;right : 20px; width : 5 px" title="Home" onclick="jeedom.cmd.execute({id: #stop_id#});"><i class="fa fa-home pull-right" ></i></a>
   <a class="btn cmd" data-type="action" data-cmd_id="#refreshValue_id#" style= "cursor: pointer;position : absolute;right : 40px; width : 5 px" title="Refresh" onclick="jeedom.cmd.execute({id: #refreshValue_id#});"><i class="fa fa-refresh pull-right" ></i></a>

    <span style="font-size: 1.2em;position : absolute; font-weight:bold;left : 1px;" class="cmd noRefresh jeedom-batterie2" data-type="info" data-subtype="string" data-cmd_id="#batteryLevel#">
      #batteryLevel#%</span>
 <br/>

      <span style="font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#lastCom#">
      #lastDate# #lastTime#</span>
    
         <span  class="doc-#totalTime#" data-type="info" data-subtype="string" data-cmd_id="#totalTime#" style="font-size: 0.8em" >
            
         <div style="#totalDistance_visible#">
             <br/>
            Distance totale: #totalDistance# m en  #totalTime# minutes  <br/> </div>
         <span style="#batteryChargeCycle_visible#">   
            #batteryChargeCycle# cycles de charge batterie <br/> </span> </span> 
    <span style=font-size: 1.2em;"class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#status#">

                              
    <span style="font-weight:bold;#rainDelay_visible#">Délai pluie: #rainDelay# mns</span></span>
    <span style="padding-left: 8px ;#rainDelay_visible#" >
    <a class="btn cmd" style="font-size: 0.8em;padding:1px;background-color:MidnightBlue " data-cmd_id="#rain_delay_0" title="raind_delay_0" onclick="jeedom.cmd.execute({id: #rain_delay_0_id#});">&nbsp;0&nbsp;</a>
    <a class="btn cmd" style="font-size: 0.8em;padding:1px;background-color:MidnightBlue " data-cmd_id="#rain_delay_30" title="raind_delay_30" onclick="jeedom.cmd.execute({id: #rain_delay_30_id#});">&nbsp;30&nbsp;</a>
    <a class="btn cmd" style="font-size: 0.8em;padding:1px;background-color:MidnightBlue " data-cmd_id="#rain_delay_60" title="raind_delay_60" onclick="jeedom.cmd.execute({id: #rain_delay_60_id#});">&nbsp;60&nbsp;</a>
    <a class="btn cmd" style="font-size: 0.8em;padding:1px;background-color:MidnightBlue " data-cmd_id="#rain_delay_120" title="raind_delay_120" onclick="jeedom.cmd.execute({id: #rain_delay_120_id#});">120</a>
    <a class="btn cmd" style="font-size: 0.8em;padding:1px;background-color:MidnightBlue " data-cmd_id="#rain_delay_240" title="raind_delay_240" onclick="jeedom.cmd.execute({id: #rain_delay_240_id#});">240</a>
    <br/>
    </span> 

    <br/>                                                                                                                     
    <span style="font-weight:bold">#statusDescription# <span style="#statusCode_visible#"> (#statusCode#) </span>   </span> 
    <span style="font-size: 0.9em; #currentZone_visible#" > <br/> Zone départ: #currentZone# </span></span><br/>

    <span style="font-size: 1.2em;#hideCmdName#" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#errorCode#">
    <span style="font-weight:bold;color:#errorColor#">    #errorDescription#
                                                     <span style="#errorCode_visible#">   (#errorCode#) </span>
                                                                                              </span></span><br/>
                                             
 </center>                                                                                                                           

    <center style="position : absolute;left : 5px">#daySetup#</center>
</div>
</div>
