<div class="eqLogic-widget eqLogic allowResize" style="width: #width#;height : #height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
<center class="widget-name display:inline"><a href="#eqLink#" style="font-weight:bold;font-size : 1.1em;#hideEqLogicName#;">#name_display# #object_name#</a>
   <span class="cmd refresh cursor pull-right" data-cmd_id="#refreshValue_id#" >
   <i class='fas fa-sync' style="font-size : 0.9em;float:right;" onclick="jeedom.cmd.execute({id: #refreshValue_id#});"></i>
   </span>  
</center>
<center >
<div align="center" style="display: inline-block;;margin-top:10px;margin-bottom:10px;margin-left:auto; margin-right:auto;">
   

           </div>
    
    <link rel="stylesheet" href="/plugins/worxLandroidS/core/template/dashboard/img/#theme#/landroid.css">    
        <br/>
    <div class="container2-landroid" >  
          
		#worxImg#          
       <div title="#statusDescription#" style="font-size: 0.8em;position : relative; top:7px;" >#lastDate# #lastTime#</div>
 
         <div title="#batteryLevel#%" style="background: url('/plugins/worxLandroidS/core/template/dashboard/img/#theme#/#batteryIMG#') ;  
                     background-size: 100% 100%; position: relative; left: -135px;top:-5px;  width: 30px; height: 15px; z-index: 3; ">
  
           
            <div style="background: url('/plugins/worxLandroidS/core/template/dashboard/img/#theme#/#wifiIMG#') ;  
                        background-size: 100% 100%; top:30px;position: relative; left:35px;  top: 0px;width: 20px; height: 15px; z-index: 4; ">    
               <a class="btn cmd" data-cmd_id="#start_id#" style= "cursor: pointer;position : relative; left:170px; top:0px; width : 5px" 
                  title="Start" onclick="jeedom.cmd.execute({id: #start_id#});"><i style="font-size: 1em; padding-top: 2px; margin-right: 2px" class="fas fa-play pull-right" ></i></a>  
               <a class="btn cmd" data-cmd_id="#pause_id#" style= "cursor: pointer;position : relative; top:-30px; left:200px; " 
                  title="pause" onclick="jeedom.cmd.execute({id: #pause_id#});"><i style=" padding-top: 2px; margin-right: 3px" class="fas fa-pause pull-right" ></i></a>
               <a class="btn cmd" data-cmd_id="#stop_id#" style= "cursor: pointer;position : relative; top: -60px; left: 230px;width : 5px;" 
                  title="Home" onclick="jeedom.cmd.execute({id: #stop_id#});"><i style="padding-top: 2px; margin-right: 2px" class="fas fa-home pull-right" ></i></a>      
               <a  style= "position : relative; top: -50px; left: 220px;width : 5px" 
                  title="#errorDescription#" ><i style="font-size: 3em; padding-top: 2px; margin-right: 2px" class="#errorIcon#" ></i></a>  
                 <a class="btn cmd" data-cmd_id="#newBlades_id#" style= "cursor: pointer;position : absolute; left:-45px; top:27px;" 
                  title="Durée de vie des lames actuelle #bladesDuration# hr => cliquer pour réinitialiser compteur durée" onclick="jeedom.cmd.execute({id: #newBlades_id#});">
                 <i style=" font-size: 2.2em;z-index:4;;color:#bladesDurationColor#" class="fas jeedom-ventilo pull-right" ></i></a>  
		  <a  data-cmd_id="#cutEdge_id#" style= "cursor: pointer;position : absolute; top: 189px; left: 270px;width : 5px;z-index:6" 
                  title="Couper bordure" onclick="jeedom.cmd.execute({id: #cutEdge_id#});">
                 <i style="font-size: 3.5em; padding-top: 2px; margin-right: 2px; z-index:4" class="fas nature-grass pull-right" ></i></a>  

           </div>
           

    
        </div>      
         <span style="font-weight:bold;font-size:1em;position:relative;top: -30px;width:150px;#statusDescription_visible#"><br/>					<br/>#statusDescription# 
         <span style="#statusCode_visible#"> (#statusCode#) </span>      
         <span style="font-weight:bold;color:#errorColor#">  <br/>  <span style="#errorDescription_visible#"> #errorDescription# </span>
         <span style="#errorCode_visible#">   (#errorCode#) </span>       </span>   

           </div>

  <div>
   <div align="center>" style="display: block; font-size: 1em;#totalDistance_visible#;margin: 3px 0;">   Distance totale: #totalDistance# m en  #totalTime# minutes</div>
   <span style="display: block; #batteryChargeCycle_visible#;margin: 3px 0;">  #batteryChargeCycle# cycles de charge batterie </span> 
   <span style="display: block; #GPSLatitude_visible#;margin: 3px 0;">  Coordonnées GPS: #GPSLatitude , #GPSLongitude </span>
   <div style="display: inline-block; margin: 3px 0">                          

     
   <span style="font-weight:bold; #rainDelay_visible#;margin: 3px 0;"> Délai pluie: #rainDelay# mn  #setRainDelay#</span>
   <span style="padding-left: 8px ;#rainDelay_visible#;margin: 3px 0;">
   <a class="btn cmd" style="font-size: 0.8em; #rain_delay_0_visible#; padding:9px;" data-cmd_id="#rain_delay_0" title="raind_delay_0" onclick="jeedom.cmd.execute({id: #rain_delay_0_id#});">&nbsp;0&nbsp;</a>
   <a class="btn cmd" style="font-size: 0.8em;#rain_delay_30_visible# ; padding:9px;" data-cmd_id="#rain_delay_30" title="raind_delay_30" onclick="jeedom.cmd.execute({id: #rain_delay_30_id#});">&nbsp;30&nbsp;</a>
   <a class="btn cmd" style="font-size: 0.8em;#rain_delay_60_visible# ; padding:9px;" data-cmd_id="#rain_delay_60" title="raind_delay_60" onclick="jeedom.cmd.execute({id: #rain_delay_60_id#});">&nbsp;60&nbsp;</a>
   <a class="btn cmd" style="font-size: 0.8em;#rain_delay_120_visible# ; padding:9px;" data-cmd_id="#rain_delay_120" title="raind_delay_120" onclick="jeedom.cmd.execute({id: #rain_delay_120_id#});">120</a>
   <a class="btn cmd" style="font-size: 0.8em;#rain_delay_240_visible# ; padding:9px;" data-cmd_id="#rain_delay_240" title="raind_delay_240" onclick="jeedom.cmd.execute({id: #rain_delay_240_id#});">240</a>

     </span> 
   </div> 
      <div style="#set_schedule_visible#; margin-bottom: 2px"> #cmdaction#      </div>      
   <span style="#virtualInfo_visible#"> #cmd# </span>  
  </div>
   <div style="display: flex; width: auto; margin: 0 10px">#daySetup#</div>
   </div>
   <script>
    function setSchedule(debut, fin, numjour, bordure, toggle){
      // fonction de changement de planification 
	var t_fin = new Date('1970-01-01T' + fin + 'Z');
	var t_debut = new Date('1970-01-01T' + debut + 'Z');
	var diff  = t_fin - t_debut;
	var minutes = Math.floor((diff/1000)/60);
    var retour = '';
	if(toggle==1 ){ if( bordure == 1){ bordure = 0 ;} else {bordure = 1}}

    if(minutes >= 0 ){
     // jeedom.cmd.execute({id:#set_schedule_id#, value:{ message: numjour ';'+debut+';'+minutes+';'+bordure }});
     retour +=  numjour + ';' + debut + ';' + minutes + ';' + bordure;
    }
    else {
      minutes = 0;
      retour = numjour + ';' + debut + ';' + minutes + ';' + bordure;
    }  
	jeedom.cmd.execute({id: #set_schedule_id#, value:{ message: retour }})
        
   }    
     
   </script>
