<div class="eqLogic-widget eqLogic" style="width: 280px;height : 230px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
   

 <center class="widget-name ">
    <a href="#eqLink#" style="font-size : 1.1em;font-weight:bold;color : white;#hideEqLogicName#">#name_display# #object_name#</a>
   <br/>
       <br/>
    <a class="btn cmd" data-cmd_id="#start_id#" style= "font-size : 1.5em;cursor: pointer;" title="Start" onclick="jeedom.cmd.execute({id: #start_id#});"><i class="fa fa-play" ></i></a>
   <a class="btn cmd" data-cmd_id="#pause_id#" style= "font-size : 1.5em;cursor: pointer;" title="pause" onclick="jeedom.cmd.execute({id: #pause_id#});"><i class="fa fa-pause" ></i></a>
   <a class="btn cmd" data-cmd_id="#stop_id#" style= "font-size : 1.5em;cursor: pointer;" title="Home" onclick="jeedom.cmd.execute({id: #stop_id#});"><i class="fa fa-home " ></i></a>
   <a class="btn cmd" data-type="action" data-cmd_id="#refreshValue_id#" style= "font-size : 1.5em;cursor: pointer;" title="Refresh" onclick="jeedom.cmd.execute({id: #refreshValue_id#});"><i class="fa fa-refresh" ></i></a>

 <br/>
 <br/>
      <span style="font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#lastCom#">
      #lastDate# #lastTime#</span> <br/>
    <span style=font-size: 1.5em;"class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#status#">
       
       <span style="font-weight:bold">#statusDescription# (#statusCode#) </span></span>

   <br/>

    <span style="font-size: 1.2em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#error#">
       <span style="font-weight:bold;color:#errorColor#">#errorDescription# (#errorCode#)</span></span><br/>
   <span style="font-size: 1.2em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#batteryLevel#">
      Batterie  : #batteryLevel# %</span><br/><br/>
 </center>                                                                                                                           

                                                                                                                            

<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;margin-top:4px" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#todaySetup#">
    <center>
            #today#: #todayStartTime# | #todayEndTime# 
   <a class="btn cmd" style="display:inline;font-size:1.3em;padding:2px;background-color:#C04000" data-cmd_id="#today_off_daynum_id#" title="Off" onclick="jeedom.cmd.execute({id: #today_off_daynum_id#});"><i class="fa fa-times"></i></a>
    <a class="btn cmd" style="display:inline;font-size:1.3em;padding:2px;background-color:#008080" data-cmd_id="#today_on_daynum_id#" title="On" onclick="jeedom.cmd.execute({id: #today_on_daynum_id#});"><i class="fa fa-check"></i></a>


    </center>

</div>                                                                                                                            
                                                                                                                            
                                                                                                                            
                                                                                                                            
</div>

</div>
